.skills{
    margin:20px auto;
    width: 80%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}
.obj{
    width: 100%;
    height: 70px;
    text-align: center;
    margin-top: 20px;
}
.heading{
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: rgb(33, 164, 220);
}

.textheading{
    margin-top: 20px;
}
.schooldetails{
    width: 950px;
    padding: 20px;
    margin-top: 0px;
    display: inline-block ;
}
.schoolimg{
    width: 120px;
    display: inline-block;
}
.school{
        width: 1100px;
        height: 150px;
        border: 1.5px solid black;
        border-radius: 5px;
        overflow:hidden;
        margin: 30px 20px;
        background-color: rgb(208, 215, 222);

}
.school:hover{
    background-color: white;
}
.project{
    width: 1100px;
    height: 120px;
    border: 1.5px solid black;
    border-radius: 5px;
    overflow:hidden;
    margin: 30px 20px;
    background-color: rgb(208, 215, 222);
    padding: 20px;
}
.courses{
    width: 900px;
    height: 40px;
    border: 1.5px solid black;
    border-radius: 5px;
    overflow:hidden;
    margin: 30px 20px;
    background-color: rgb(208, 215, 222);
    padding: 10px;
}
.soft{

    border: 1px solid black;
    border-radius: 2px;
    overflow:hidden;
    margin: 20px 20px;
    padding: 10px;
}
.project:hover{
    background-color: rgb(240, 232, 186);
}
.card{
    width: 200px;
    height: 250px;
    border: 1.5px solid black;
    border-radius: 3px;
    overflow:hidden;
    padding: 10px;
    margin: 40px 20px;
    background-color: rgb(208, 215, 222);
}
.card:hover{
    transform: scale(1.02);
    background-color: rgb(240, 232, 186);

}

.skills-image{
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    max-height: 315px;
    display: block;
    object-fit:cover;
}
.skills-name{
    text-transform: uppercase;
    margin: 10px 0px;
}

.skills-description{
    margin: 10px 0px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
}
 
.skill-button{
    font-weight: 700;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: black;
    color:white;
    width: 100%;
    height:40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px auto;
}
